<mat-toolbar align="center" class="space-between black-toolbar">
  <span class="centered">
    <mat-icon>{{ icon_header }}</mat-icon>
    {{ title_header }}
  </span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="reactiveForm">
    <div class="row">
      <div class="col-md-4">
        <!-- Picture -->
        <app-photo formControlName="image" [photoByDefault]="photoToShow" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <!-- Title -->
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Title:</mat-label>
            <input formControlName="title" type="text" matInput required />
            @if (titleField?.hasError('required')){
            <mat-error>Title is required</mat-error>
            } @if (titleField?.hasError('minlength')){
            <mat-error>Insufficient Characters</mat-error>
            } @if (titleField?.hasError('maxlength')){
            <mat-error>Character Limit Reached</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row">
          <!-- Category -->
          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Category:</mat-label>
            <mat-select formControlName="category" placeholder="" required>
              @for (category of listCategories; track category) {
              <mat-option [value]="category">
                {{ category }}
              </mat-option>
              } @empty { Empty list of categories }
            </mat-select>
            @if (categoryField?.hasError('required')){
            <mat-error>Category is required</mat-error>
            } @if (categoryField?.hasError('minlength')){
            <mat-error>Insufficient Characters</mat-error>
            } @if (categoryField?.hasError('maxlength')){
            <mat-error>Character Limit Reached</mat-error>
            }
          </mat-form-field>

          <!-- Price -->
          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Price:</mat-label>
            <input formControlName="price" type="number" matInput required />
            @if (priceField?.hasError('required')){
            <mat-error>Price is required</mat-error>
            } @if (priceField?.hasError('minlength')){
            <mat-error>Insufficient Characters</mat-error>
            } @if (priceField?.hasError('maxlength')){
            <mat-error>Character Limit Reached</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row">
          <!-- Description -->
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Description:</mat-label>
            <input
              formControlName="description"
              type="text"
              matInput
              required
            />
            @if (descriptionField?.hasError('required')){
            <mat-error>Description is required</mat-error>
            } @if (descriptionField?.hasError('minlength')){
            <mat-error>Insufficient Characters</mat-error>
            } @if (descriptionField?.hasError('maxlength')){
            <mat-error>Character Limit Reached</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <mat-dialog-actions>
        <!-- Save -->
        <button
          type="button"
          mat-raised-button
          mat-dialog-close
          color="primary"
          [disabled]="reactiveForm.invalid"
          cdkFocusInitial
          (click)="save()"
        >
          <mat-icon>save</mat-icon>
          Save
        </button>

        <!-- Close -->
        <button
          class="black-close"
          type="button"
          mat-raised-button
          mat-dialog-close
        >
          <mat-icon>close</mat-icon>
          Close
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>
